#logo {
  height: 100vh;
  width: 100%;

  > div {
    grid-area: preloader;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;

    section {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
